name: LOAD - Cargar a BigQuery

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "data/processed/**"

jobs:
  load-bigquery:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt
        pip install google-cloud-bigquery google-cloud-storage pyarrow pandas fastjsonschema ujson

    - name: Decode and save GCP credentials
      env:
        GCP_KEY: ${{ secrets.GCP_KEY }}
      run: |
        echo "$GCP_KEY" | base64 -d > gcp-key.json

    - name: Run LOAD step (fix PYTHONPATH)
      env:
        GOOGLE_APPLICATION_CREDENTIALS: gcp-key.json
        PYTHONPATH: "${{ github.workspace }}"
      run: |
        echo "PYTHONPATH = $PYTHONPATH"
        python src/load/load_to_bigquery.py
